    /* mes images */
    img {
        width: 50%;
        height: 80%;
    }
    p{
        font-size: 1.5em;
    }

    h2 {
        
        font-size: 70px;
    }

    h3 {
        font-size: 50px;
       
        text-decoration: underline;
        text-transform: uppercase;
        position: relative;
        left:160px;
        top:-120px;
    }

    /* mes sous-titres */
    h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        text-transform: uppercase;
        text-decoration: underline;
    }
    /* mon header */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
    nav {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        padding-left: 10%;
    }
    header p {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 30%;
    }
    section span img{
        width: 150px;
        margin:  15%;
        margin-bottom: 5%;
    }
    section span p{
        font-size: 1.4em;
    }
    body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #0DA19A;
  color: rgb(228, 235, 234);
  font-family: 'Amatic SC', cursive;
}
#phraseintro{

    position: relative;
    text-align: center;
    left:25%;
    width: 50%;
    font-size: 2em;
}
    #imglogo{

        width:25%;
    }
    #coursimage{
        width:250px;
        position: relative;
        top:210px;
        right:100px;
        margin-bottom: 35%;
      
    }
    #confimage{
        width:250px;
        position: relative;
        top:210px;
        right:100px;
        margin-bottom: 35%;

    }
    #conf1{
        width:600px;
    }
    /* ma section titre*/
    #titre {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8% 2%;
        
    }
    #titre>i {
        width: 10%;
        font-size: 90px;
    }
    /* ma section action */
    #action {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        margin-bottom: 10%;
    }
    #action div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #action div span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    #action div span i {
        display: flex;
        font-size: 90px;
        margin: 50% 10% 10% 10%;
    }
    /* ma section rythme et solidarite */
    #rythme,
    #solidarite {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 2%;
        margin-bottom: 10%;
        width: 95%;
    }
    /* section coaching et self*/
    #coaching,
    #self {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
        margin: 10% 2%;
    }
    /* mes paragraphe */
    section div {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    /* ma section info */
    #info {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        margin-bottom: 10%;
    }
    #info>span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #info>span>i {
        display: flex;
        font-size: 90px;
        margin-bottom: 10%;
    }
    /* ma section présentation */
    #presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #presentation div {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #share {
        display: flex;
        font-size: 40px;
        padding-left: 10%;
    }
    #share>i {
        margin-right: 3%;
        margin-bottom: 5%;
    }
    #link {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding-left: 5%;
        
    }
    #link>div>i {
        margin-right: 2%;
        padding-bottom: 2%;
    }
    #menuToggle
  {
    display: block;
    position: absolute;
    top: 35px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: grey;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  .header{
    display: none;
}